<!DOCTYPE html>
<html>

<head>
  <title>Add Thread</title>
  <style>
  </style>
</head>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>


<style>
  h1,
  p {
    text-align: center;
  }

  button {
    background: #0F2027;
    color: white;
    font: inherit;
  }

  input {
    width: 70%;
  }

  textarea {
    width: 70%;
    height: 70%;
    overflow-y: scroll;
  }

  #formList {
    padding-left: 25%;
  }

  #centre {
    text-align: center;
  }
</style>

<body>
  <%- include('navbar2.ejs') %>

    <br>
    <h1>Add Thread</h1>
    <br>

    <div id="formList">
      <form action="/api/addthread" method="post">
        <label for="title">Thread Name</label>
        <br>
        <input type="text" id="title" name="title">
        <br>
        <br>
        <label for="description">Thread Description</label>
        <br>
        <textarea name="description" rows="7" cols="50" style="resize: none;"></textarea>
        <br>
        <br>
        <label for="tags">Tags</label>
        <br>
        <input type="text" id="tags" name="tags">
        <br>
        <br>
        <input type="submit"></input>
      </form>
    </div>

    <br>
    <br>



    <br>

    <%- include('footer.ejs') %>
</body>

</html>