<!DOCTYPE html>
<html>

<head>
  <title>Admin</title>
  <style>
  </style>
</head>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>


<body class="d-flex flex-column min-vh-100">
  <%- include('navbar2.ejs') %>
  <br>
  <h1 class="text-center">Administrator</h1>
  <br>

  <section class="d-flex">
        <div class="col-9 flex-grow-1 d-flex flex-column ">
            <div class="container mt-5 p-3">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table align-middle text-center">
                            <thread>
                                <tr>
                                    <td><button class="btn btn btn-danger" type="submit" >Promote to Moderator</button></td>
                                    <td><button class="btn btn-danger" type="submit">Promote to Admin</button></td>
                                    <td><button class="btn btn-danger" type="submit" >Delete User</button></td>
                                </tr>
                            </thread>
                        </table>
                        <table class="table table-bordered align-middle text-center">
                           
                            <thread>
                                <tr>
                                    <td>User Name</td>
                                    <td>Last Login Time</td>
                                    <td>Posts</td>
                                </tr>
                            </thread>
                            
                                <script>
                                    async function getAllUsers() {
                                      const api_url = '/api/getAllUsers'
                                      const response = await fetch(api_url);
                                      const data = await response.json();
                                      const list = document.getElementById("myUsers");
                                      let userRowBody = "";
                                      data.forEach((item) => {
                                        userRowBody = userRowBody + `<tr> 
                                    <td>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="${item.username}" name="${item.username}"/>
                                            <label class="form-check-label" for="${item.username}"> ${item.username}</label>
                                        </div>
                                    </td>
                                    <td>${item.lastLogin}</td>
                                    <td>${item.post}</td>
                                    </tr> `;
                                      });
                                  
                                      document.getElementById("myUsers").innerHTML = userRowBody;
                                    }
                                    getAllUsers();
                                </script>
                            <tbody class="align-middle text-center" id="myUsers">     
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            
        </div>
    </div>

</section>
<%- include('footer.ejs') %>
</body>

</html>