<!DOCTYPE html>
<html>

<head>
  <title>Movie</title>
  <style>
  </style>
</head>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>


<body>
  <%- include('navbar.ejs') %>
  <h1>home page</h1>

</body>

</html>