<!DOCTYPE html>
<html>

<head>
  <title>Movie</title>
  <style>
  </style>
</head>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

<style>
  h2, p {
    text-align: center;
  }

  .threads {
    text-align: center;
    list-style-type: none;
  }

  .links {
    color: black;
  }

  button {
    background: none;
    color: rgb(214, 42, 33);
    border: none;
    padding: 0;
    font: inherit;
    text-decoration: underline;
  }

</style>

<body>
  <%- include('navbar2.ejs') %>

  <br>
  <h2>My Subscriptions</h2>
  <br>

  <!--Demo of threads users are subscribed to-->
  <p>Here are the threads you are subscribed to:</p>
  <ul class="threads">
    <li><a class="links" href="/index">Welcome to the Forum! Last Post: April 1, 2022 @ 11:30 AM</a>  <button class="delete">Unsubscribe</button></li>
    <li><a class="links" href="/index">Rules Thread Last Post: April 1, 2022 @ 11:20 AM</a>  <button class="delete">Unsubscribe</button></li>
    <li><a class="links" href="/index">Harry Potter and The Philosopher's Stone Last Post: April 2, 2022 @ 9:30 PM</a>  <button class="delete">Unsubscribe</button></li>
  </ul>

  <script>
    
    // If user is not subscribed to anything, put up a message saying you are not subscribed to any threads.
    if ($('.threads li').length === 0) {
      $('.threads').append("<li>You are not currently subscribed to any threads.</li>");
    }

    // Script to remove threads from your subscribed list.
    // Adapted from https://stackoverflow.com/questions/44716263/determine-empty-ul-tag-after-removing-li-tag
    $(document).on('click', '.delete', function(e) {
      $(this).closest("li").remove();

      // If there are no threads left user is subscribed to put up message in list saying you have no threads you are subscribed to.
      if ($('.threads li').length === 0) {
        $('.threads').append("<li>You are not currently subscribed to any threads.</li>");
      }

    }); 

  </script>

</body>

</html>