<!DOCTYPE html>
<html>

<head>
  <title>My Subscriptions</title>
  <style>
  </style>
</head>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

<script>
  async function getAllMovies() {
    const api_url = '/api/getmysubscribe'
    const response = await fetch(api_url);
    const data = await response.json();
    const list = document.getElementById("myList");
    let movieRowBody = "";
    data.forEach((item) => {
      movieRowBody = movieRowBody + `
      <tr> 
        <td>
          <h5 class="card-title mx-auto d-flex justify-content-around"><a href=/thread?threadTitle=${encodeURIComponent(item.threadTitle)}>${item.threadTitle}</a></h5>
        </td>
        <td>Time: ${item.threadTime}</td>
        <td>Creator: ${item.username}</td>
        <td>Content: ${item.threadContent}</td>
      </tr>
      `;
    });

    document.getElementById("myList").innerHTML = movieRowBody;
  }
  getAllMovies();
</script>

<style>
  h1,
  p {
    text-align: center;
  }

  .threads {
    text-align: center;
    list-style-type: none;
  }

  .links {
    color: black;
  }

  .card-title a:link {
    text-decoration: none;
    color: #0F2027;
  }

  .card-title a:hover {
    text-decoration: underline;
  }
</style>

<body class="d-flex flex-column min-vh-100">
  <%- include('navbar2.ejs') %>

    <br>
    <h1>My Subscriptions</h1>
    <br>
    <h3 class="text-center">Here are the threads you are subscribed</h3>
    <br>
    <section class="d-flex">
      <div class="col-9 flex-grow-1 d-flex flex-column ">
        <div class="container mt-5 p-3">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered align-middle text-center">

                <thread id="usersTable">
                  <tr>
                    <h3 class="bg-dark text-center text-light">My Subscriptions</h5>
                  </tr>
                </thread>
                <tbody class="align-middle text-center" id="myList">
                </tbody>
              </table>

            </div>
          </div>
        </div>
    </section>


    <script>

      // If user is not subscribed to anything, put up a message saying you are not subscribed to any threads.
      if ($('#myList').html() === "") {
        $('#myList').append("<p>You are not currently subscribed to any threads.</p>");
        $('#myList').append("<p>Any threads you are subscribed to will appear here.</p>");
      }

      // Script to remove threads from your subscribed list.
      // Adapted from https://stackoverflow.com/questions/44716263/determine-empty-ul-tag-after-removing-li-tag
      $(document).on('click', '.delete', function (e) {
        $(this).parent().remove();

        // If there are no threads left user is subscribed to put up message in list saying you have no threads you are subscribed to.
        if ($('#myList').html() === "") {
          $('#myList').append("<p>You are not currently subscribed to any threads.</p>");
          $('#myList').append("<p>Any threads you are subscribed to will appear here.</p>");
        }

      });

    </script>

    <br>
    <%- include('footer.ejs') %>
</body>

</html>