<!DOCTYPE html>
<html>

<head>
  <title>My Subscriptions</title>
  <style>
  </style>
</head>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

<script>
  async function getAllMovies() {
    const api_url = '/api/getAllMovies'
    const response = await fetch(api_url);
    const data = await response.json();
    const list = document.getElementById("myList");
    let movieRowBody = "";
    data.forEach((item) => {
      movieRowBody = movieRowBody + `<div class="card">
          <div class="card-body">
              <h5 class="card-title"><a href=/thread?threadTitle=${item.threadTitle}>${item.threadTitle}</a></h5>
              <ul class="list-group list-group-flush">
                                              <li class="list-group-item">
                                                  Time: ${item.threadTime}
                                              </li>
                                              <li class="list-group-item">
                                                  User: ${item.username}
                                              </li>
                                              <li class="list-group-item">
                                                  Content: ${item.threadContent}
                                              </li>
                                          </ul>
          </div>
            <br>
            <button class="delete">Unsubscribe</button>
            <br>
          </div>`;
    });

    document.getElementById("myList").innerHTML = movieRowBody;
  }
  getAllMovies();
</script>

<style>
  h1,
  p {
    text-align: center;
  }

  .threads {
    text-align: center;
    list-style-type: none;
  }

  .links {
    color: black;
  }

  button {
    background: rgb(214, 42, 33);
    color: white;
    font: inherit;
  }

  .card-title a:link {
    text-decoration: none;
    color: rgb(214, 42, 33);
  }

  .card-title a:hover {
    text-decoration: underline;
  }
</style>

<body>
  <%- include('navbar2.ejs') %>

    <br>
    <h1>My Subscriptions</h1>
    <br>

    <p>Here are the threads you are subscribed to:</p>
    <br>

    <div id="myList"></div>

    <script>

      // If user is not subscribed to anything, put up a message saying you are not subscribed to any threads.
      if ($('#myList').html() === "") {
        $('#myList').append("<p>You are not currently subscribed to any threads.</p>");
        $('#myList').append("<p>Any threads you are subscribed to will appear here.</p>");
      }

      // Script to remove threads from your subscribed list.
      // Adapted from https://stackoverflow.com/questions/44716263/determine-empty-ul-tag-after-removing-li-tag
      $(document).on('click', '.delete', function (e) {
        $(this).parent().remove();

        // If there are no threads left user is subscribed to put up message in list saying you have no threads you are subscribed to.
        if ($('#myList').html() === "") {
          $('#myList').append("<p>You are not currently subscribed to any threads.</p>");
          $('#myList').append("<p>Any threads you are subscribed to will appear here.</p>");
        }

      });

    </script>

    <br>
    <%- include('footer.ejs') %>
</body>

</html>