<!DOCTYPE html>
<html>

<head>
  <title>My Threads</title>
  <style>
  </style>
</head>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

<script>
  async function getAllMovies() {
    const api_url = '/api/getMyThreads'
    const response = await fetch(api_url);
    const data = await response.json();
    const list = document.getElementById("myList");
    let movieRowBody = "";
    data.forEach((item) => {
      movieRowBody = movieRowBody + `<div class="card" style="width: 40rem;">
          <div class="card-body">
              <h5 class="card-title mx-auto d-flex justify-content-around"><a href=/thread?threadTitle=${encodeURIComponent(item.threadTitle)}>${item.threadTitle}</a></h5>
              <ul class="list-group list-group-flush">
                                              <li class="list-group-item mx-auto d-flex justify-content-around">
                                                  Time: ${item.threadTime}
                                              </li>
                                              <li class="list-group-itemmx-auto d-flex justify-content-around">
                                                  User: ${item.username}
                                              </li>
                                              <li class="list-group-itemmx-auto d-flex justify-content-around">
                                                  Content: ${item.threadContent}
                                              </li>
                                          </ul>
          </div>
        </div>`;
    });

    document.getElementById("myList").innerHTML = movieRowBody;
  }
  getAllMovies();
</script>

<style>
  h1,
  p {
    text-align: center;
  }

  .threads {
    text-align: center;
    list-style-type: none;
  }

  .links {
    color: black;
  }

  #centre {
    text-align: center;
  }

  .card-title a:link {
    text-decoration: none;
    color: #0F2027;
  }

  .card-title a:hover {
    text-decoration: underline;
  }
</style>

<body class="d-flex flex-column min-vh-100">
  <%- include('navbar2.ejs') %>

    <br>
    <h1>My Threads</h1>
    <br>
    <h3 class="text-center">Here are the threads that you have created</h3>
    <br>
    <div id="centre">
      <button class="btn btn-secondary mx-auto d-flex justify-content-around"
        onclick="window.location.href='/addthread'">Create New Thread</button>
    </div>

    <div class="container mt-4 mx-auto d-flex justify-content-around">
      <div id="myList"></div>
    </div>

    <br>
    <br>




    <script>
      // If user is not subscribed to anything, put up a message saying you are not subscribed to any threads.
      if ($('#myList').html() === "") {
        $('#myList').append("<p>You currently have not created any threads.</p>");
        $('#myList').append("<p>Any threads you create will appear here.</p>");
      } 
    </script>

    <br>
    <%- include('footer.ejs') %>
</body>

</html>