<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
<style>
    .navbar-custom {
        /* Code to change the color of the navbar
            This small CSS code is referenced from https://uigradients.com*/
        background: #0F2027;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        font-family: 'Montserrat', sans-serif;
    }
</style>



<nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home" style="margin-right:35%">Movie Forum</a>
        <form class="d-flex" action="/search">
            <input class="form-control me-2" type="search" name="keyword" placeholder="Search For Movie"
                aria-label="Search For Movie">
            <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/mysubs">My Subs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/mythreads">My Threads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/addthread">Add Thread</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/index">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>







<script src="/js/bootstrap.min.js"></script>