<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('navbar.ejs') %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Search Movies</title>
        <script type="text/javascript" src="thread.json"></script>
        <script>

            var mydata = JSON.parse(data);
            alert(mydata);
        </script>
        <style>
            h1,
            p {
                text-align: center;
            }

            .card-title a:link {
                text-decoration: none;
            }

            .card-title a:hover {
                text-decoration: underline;
            }
        </style>
</head>

<body class="d-flex flex-column min-vh-100">

    <!--<ul= id="myList"></ul>-->
    <div class="container-fluid">
        <div class="row" id="movieRow">
        </div>
        <style>
            h1,
            p {
                text-align: center;
            }

            .threads {
                text-align: center;
                list-style-type: none;
            }

            .links {
                color: black;
            }

            .card-title a:link {
                text-decoration: none;
                color: #0F2027;
            }

            .card-title a:hover {
                text-decoration: underline;
            }
        </style>
    </div>
    <section class="d-flex">
        <div class="col-9 flex-grow-1 d-flex flex-column ">
            <div class="container mt-5 p-3">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-bordered align-middle text-center">

                            <thread id="usersTable">
                                <tr>
                                    <h3 class="bg-dark text-center text-light">Forum search results related to "<%=
                                            keyword %>"</h5>
                                </tr>
                            </thread>
                            <tbody class="align-middle text-center" id="myList">
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
    </section>

    <script>
        async function getAllMovies() {
            const api_url = '/api/movies'
            const response = await fetch(api_url.concat(`?keyword=${'<%= keyword %>'}`));
            const data = await response.json();
            const list = document.getElementById("myList");
            let movieRowBody = "";
            data.forEach((item) => {
                movieRowBody = movieRowBody + `<tr> 
        <td>
          <h5 class="card-title"><a href=/thread?threadTitle=${encodeURIComponent(item.threadTitle)}>${item.threadTitle}</a></h5>
        </td>
        <td>Time: ${item.threadTime}</td>
        <td>User: ${item.username}</td>
        <td>Content: ${item.threadContent}</td>
      </tr>`;;
            });

            document.getElementById("myList").innerHTML = movieRowBody;
        }
        getAllMovies();
    </script>
    <div id="myList"></div>
</body>

</html>