<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('navbar.ejs') %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Search Movies</title>
        <script type="text/javascript" src="thread.json"></script>
        <script>

            var mydata = JSON.parse(data);
            alert(mydata);
        </script>
        <style>
            h1,
            p {
                text-align: center;
            }

            .card-title a:link {
                text-decoration: none;
                color: #0F2027;
            }

            .card-title a:hover {
                text-decoration: underline;
            }
        </style>
</head>

<body class="d-flex flex-column min-vh-100">
    <h1>Forum search results related to "<%= keyword %>"</h1>

    <!--<ul= id="myList"></ul>-->
    <div class="container-fluid">
        <div class="row" id="movieRow">
        </div>
        <style>
            .card {
                margin-top: 10px;
                margin-left: 10px;
                margin-bottom: 10px;
                margin-right: 10px;
                max-height: 300px;
                min-height: 200px;
                transition: .1s;
            }

            .card-img-top {
                width: 100%;
                height: 100em;
                object-fit: contain;
            }

            .card:hover {
                box-shadow: 2px 2px 2px grey;
                transform: scale(1.05);
            }
        </style>
    </div>
    <div id="message"></div>

    <script>
        async function getAllMovies() {
            const api_url = '/api/movies'
            const response = await fetch(api_url.concat(`?keyword=${'<%= keyword %>'}`));
            const data = await response.json();
            const list = document.getElementById("myList");
            let movieRowBody = "";
            data.forEach((item) => {
                movieRowBody = movieRowBody + `<div class="card">
          <div class="card-body">
              <h5 class="card-title"><a href=/thread?threadTitle=${item.threadTitle}>${item.threadTitle}</a></h5>
              <ul class="list-group list-group-flush">
                                              <li class="list-group-item">
                                                  Time: ${item.threadTime}
                                              </li>
                                              <li class="list-group-item">
                                                  User: ${item.username}
                                              </li>
                                              <li class="list-group-item">
                                                  Content: ${item.threadContent}
                                              </li>
                                          </ul>
          </div>
          </div>`;
            });

            document.getElementById("myList").innerHTML = movieRowBody;
        }
        getAllMovies();
    </script>
    <div id="myList"></div>
</body>

</html>