<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('navbar.ejs') %>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/threads.css" media="screen" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Thread Page</title>
        <script type="text/javascript" src="thread.json"></script>
        <script>
            var mydata = JSON.parse(data);
            alert(mydata);
        </script>
</head>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

<script>
    async function getThread1() {
        const api_url = '/api/getAllMovies'
        const response = await fetch(api_url);
        const data = await response.json();
        const list = document.getElementById("myList");
        const post = data[0];
        const comments = data[1];
        let movieRowBody = "";
        data.forEach((item) => {
            movieRowBody = movieRowBody + `<div class="card">
            <div class="card-body">
                <h5 class="card-title">${item.threadTitle}</h5>
                <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                    Time: ${item.threadTime}
                                                </li>
                                                <li class="list-group-item">
                                                    User: ${item.username}
                                                </li>
                                                <li class="list-group-item">
                                                    Content: ${item.threadContent}
                                                </li>
                                            </ul>
                <a href=/api/moviedetail?ID=${item.ID}" class="stretched-link"></a>
            </div>
            </div>`;
        });
        list.innerHTML = movieRowBody;
    }
    getThread1();
</script>


<body class="d-flex flex-column min-vh-100">
  <h1>thread page</h1>
  <div id="myList"></div>
  <div class="mainContainer">
    <div class="thraedContainer">
      <h1 id="threadTitle">Thread title</h1>
      <p id="threadContent">Thread content</p>
    </div>
    <div class="commentsContainer">
      <div id="example">Example Div</div>
      <div class="card-body">
        Comment 1
      </div>
      <div class="card-body">
        Comment 2
      </div>
      <div class="card-body">
        Comment 3
      </div>
    </div>
  </div>
</body>

</html>