<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <style>
  </style>
</head>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>


<body class="d-flex flex-column min-vh-100">
  <%- include('navbar.ejs') %>

    <section class="pt-3 d-flex justify-content-center">
      <div class="card my-5" style="width: 35rem;">
        <form class="card-body p-lg-5" action="/api/userlogin" method="post">
          <h2 class="text-center">Login</h2>
          <div class="text-center">
            <img src="https://cdn.pixabay.com/photo/2016/03/31/19/56/avatar-1295397__340.png"
              class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px" alt="profile">
          </div>

          <div class="mb-3">
            <input type="text" name="username" class="form-control" id="username" placeholder="User Name">
          </div>
          <div class="mb-3">
            <input type="password" name="password" class="form-control" id="password" placeholder="password">
          </div>
          <div class="text-center">
            <button type="submit" class="bg-dark text-light btn btn-color px-5 mb-5 w-100">Login</button>
          </div>
        </form>
      </div>
    </section>
    <%- include('footer.ejs') %>

</body>

</html>